---
import { getUiText } from "@/utils/getUiText";

// Remove current url path and remove trailing slash if exists
const currentUrlPath = Astro.url.pathname.replace(/\/+$/, "");

// Get url array from path
// eg: /category/action => ['category', 'action']
const breadcrumbList = currentUrlPath.split("/").slice(1);
---

<nav class="app-layout mt-8 mb-1" aria-label={getUiText("breadcrumb.ariaLabel")}>
  <ul
    class="font-light [&>li]:inline [&>li:not(:last-child)>a]:hover:opacity-100"
  >
    <li>
      <a href="/" class="opacity-80">{getUiText("breadcrumb.home")}</a>
      <span aria-hidden="true" class="opacity-80">{getUiText("breadcrumb.separator")}</span>
    </li>
    {
      breadcrumbList.map((breadcrumb, index) =>
        index + 1 === breadcrumbList.length ? (
          <li>
            <span
              class:list={["capitalize opacity-75", { lowercase: index > 0 }]}
              aria-current="page"
            >
              {/* make the last part lowercase in Home > Tags > some-tag */}
              {decodeURIComponent(breadcrumb)}
            </span>
          </li>
        ) : (
          <li>
            <a href={`/${breadcrumb}/`} class="capitalize opacity-70">
              {breadcrumb}
            </a>
            <span aria-hidden="true">&raquo;</span>
          </li>
        )
      )
    }
  </ul>
</nav>
